<%- include("partials/header.ejs")%>
<section id="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="hero-heading"> <strong>Mitory</strong> is a minimalistic journaling tool.<mark>Keep it simple!</mark></h2>
        <a class="btn btn-outline-primary btn-custom" href="/register">Register</a>
        <a class="btn btn-outline-dark btn-custom" href="/login">Login</a>
      </div>
      <div class="col-md-6 text-center hero-cols">
        <img class="hero-images" src="images/typerwriter.svg" alt-text="typewriter image" />

      </div>

    </div>
  </div>
</section>
<section id="about-section" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center hero-cols">
        <img class="hero-images" src="images/dream.svg" alt-text="typewriter image" />
      </div>
      <div class="col-md-6">
        <h2 class="hero-heading">About <mark><strong>Mitory</strong></mark></h2>
        <p class="about-p">
          Mitory comes from the fusion of two words, My Story. It a simple journaling tool kit which is stripped of unnecessary distractions so you can focus on writing.
<br />
          Enjoy the process and make every day a <mark>story worth writing.</mark>
      </div>
    </div>

  </div>
</section>



<%- include("partials/footer.ejs")%>
