<%- include("partials/header.ejs")%>
<section id="registration" class="reg-height">
  <div class="container form-mitory">
    <h2>Register</h2>
    <form action="/register" method="post">
      <div class="form-row">
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="fname" placeholder="First name" required="true"/>
        </div>
        <div class="col-md-6 form-group">
          <input type="text" class="form-control" name="lname" placeholder="Last name" required="true" />
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <input type="email" class="form-control" name="username" placeholder="Enter your email"  required="true"/>
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <input type="password" class="form-control" name="password" placeholder="Enter password" required="true"/>
        </div>
      </div>

      <div class="form-row">
        <div class="col form-group">
          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
      </div>
    </form>
    <p class="text-center">
      or
    </p>
    <div class="form-row">
      <div class="col form-group">
        <a class="btn btn-block btn-outline-dark googleSocial" href="/auth/google"> Sign Up with Google
        </a>
      </div>
      <div class="col form-group">
        <a class="btn btn-block btn-outline-dark faceSocial" href="/auth/facebook"> Sign Up with Facebook
        </a>
      </div>
    </div>
    <hr width="300px"/>
    <p class="text-center">
      Already have an account? <a href="/login">Login</a>
    </p>
  </div>

</section>

<%- include("partials/footer.ejs")%>
