/* Styling Section : NavBar */

html{
  scroll-behavior: smooth;
}

.navbar{
  padding-left: 0;
}

#post-hero{
    background-color: #CEFFF2;
}

.post-article{
    background-color: #CEFFF2;
    height: 300px;
}

.article-content{
  font-size: 1.25rem;
  white-space: pre-wrap;
}

.article-heading{
  padding-top: 100px;
}


.posts h2{
  padding-top: 150px;
  height: 350px;

}


.form-mitory{
  padding-top: 100px;
  width: 600px;
  margin-bottom: 60px;
}

.form-mitory h2{
  margin-bottom: 20px;
}


.googleSocial{
  border-color:  #DB4437;
  color:  #DB4437;
}

.googleSocial:hover{
  background-color: #DB4437;
  border-color: #DB4437;
}

.faceSocial{
  border-color:  #3b5998;
  color:  #3b5998;
}

.faceSocial:hover{
  background-color: #3b5998;
  border-color: #3b5998;
}

.navbar strong{
  font-family: 'Playfair Display', serif;
}

/* Styling Section: Hero */
#hero-section{
  height: auto;
}

.reg-height{
  height: 80vh;
}

.hero-heading{
  padding-top: 150px;
    line-height: 1.5;
}

.hero-images{
  height: 90%;
  padding-top: 100px;
}

.hero-cols{
  height: 500px;
}

.btn-custom{
  margin-top: 15px;
  margin-right: 20px;
  width: 200px;
}

.about-p{
  padding-bottom: 80px;
}

.heading_style{
  color: green;
}

.post-container{
  padding-top: 80px;
  margin-bottom: 80px;
}

/* Styling Section : Footer */

.footer{
  padding-top: 75px;
  padding-bottom: 50px;
  color: white;

}

.card{
  border-radius: 15px;
  border: 0;
}

.delete{
  color: #FF4545;
}

.delete:hover{
  color: #A43232;
}

.compose{
  height: 350px;
}

.compose-write{
  height: 450px;
}

.text-area{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.page-top{
  padding-top: 150px;
  margin-bottom: 100px;
  color:#0EB082 ;
}
